<%- include('partials/header.ejs') %>

<title>SignUp Page</title>
<link rel="stylesheet" href="/styles/signin.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
/>

<div class="main">
  <div class="colourdiv">
    <div class="title">
      <h1>Unlock Efficiency. Power Your Warehouse.</h1>
    </div>
    <img src="/images/Oval.png" alt="" id="c1">
    <div class="semititle">
      <div class="quotes">
        <h3>Reduce Manual Labor & Human Errors</h3>
        <img src="/images/lo'.png" alt="" class="l" id="l1">
      </div>
      
      <div class="quotes" id="end">
        <h3>Multi-Warehouse Management Made Simple</h3>
        <img src="/images/lo'.png" alt="" class="l" id="l2">
      </div>
      <div class="quotes">
        <h3>Real time update of Inventory</h3>
        <img src="/images/lo'.png" alt="" class="l" id="l3">
      </div>
    </div>
  </div>

  <div class="textdiv">
    <div class="logo">
      <img src="/images/logo.png" alt="" />
    </div>
    <div class="form">
      <form action="/signin" method="POST">
        <div class="inputForm">
          <i class="fa-solid fa-envelope"></i>
          <input type="email" placeholder=" Email" name="email" required />
        </div>

        <div class="inputForm">
          <i class="fa-solid fa-lock"></i>
          <input
            type="password"
            placeholder="Password"
            name="password"
            required
          />
        </div>
        <a href="" class="forPas">Forgot Password ?</a>

        <button type="submit" class="s">Sign In</button>
      </form>
    </div>
    <hr />
    <div class="extra">
      <p>No Account Yet? Start Optimizing Today. ? <a href="/">Sign up</a></p>
    </div>
  </div>

  <% if (incorrectPass) { %>
  <div class="showError">
    <div class="ib">
      <i
        class="fa-sharp fa-solid fa-circle-xmark fa-2xl"
        style="color: #63e6be"
      ></i>
    </div>
    <h1>Incorrect password, please try again.</h1>
    <h3>The password entered does not match our records.</h3>
    <button id="ok">Try Again</button>
  </div>
  <% } else if(userNotFound){%>
  <div class="showError">
    <div class="ib">
      <i
        class="fa-sharp fa-solid fa-circle-xmark fa-2xl"
        style="color: #63e6be"
      ></i>
    </div>
    <h1>User Not Found, please try again.</h1>
    <h3>The gmail entered does not match our records Try Sign Up.</h3>
    <button id="ok2">Sign Up</button>
  </div>
  <% } %>
</div>

<script>
  const inputs = document.querySelectorAll("form input");

  inputs.forEach((input, i) => {
    input.addEventListener("keydown", (e) => {
      if (e.key === "Enter") {
        e.preventDefault(); // prevent default submit behavior for control

        const next = inputs[i + 1];
        if (next) {
          next.focus();
        } else {
          // If it's the last input, submit the form
          input.form.submit();
        }
      }
    });
  });

  const okButton2 = document.querySelector("#ok2");
  const okButton = document.querySelector("#ok");

  if (okButton) {
    okButton.addEventListener("click", () => {
      document.querySelector(".showError").style.display = "none";
    });
  }

  if (okButton2) {
    okButton2.addEventListener("click", () => {
      window.location.href = "/";
    });
  }
</script>

<%-include('partials/footer.ejs') %>
