<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles/uc.css">
    <!-- <link rel="stylesheet" href="/styles/common.css"> -->

</head>
<body id="f">
    <div class="main">
    <h3>Page Under Construction</h3>
    <h1>"Something Awesome is Brewing... Stay Tuned!" </h1>
    <img src="/images/animation.gif" alt="">
    <p>Pardon the dust! This page is getting a makeover — stay tuned! </p>
    <a href="/home">Retreat Home</a>
</div>
</body>
</html>